@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@100;300;500&family=Signika+Negative:wght@300&family=Titillium+Web:wght@200&display=swap%27');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);

    font-family: 'Poppins' , sans-serif;

    overflow: hidden;
}




header{
    max-width: 1440px;
    margin: 0 auto;
   

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3.0rem;
    padding-left: 9.0rem;
    padding-right: 9.0rem;
}


.logo img{
    width: 8.5rem;
    border-radius: 50%;
    border: 0.2rem solid #c02020;
}

.logo:active{
    transform: scale(1.03);

}

nav ul{
    list-style: none;

    display: flex;
    gap: 2.0rem;
}

li a{
    text-decoration: none;

   
    padding: 1.0rem 3.0rem;
   
    border-radius: 4.0rem;
    border: 0.1rem solid #ffffff;

    font-size: 20px;
    color: #fff;

}

nav a:hover{
    background-color: #c02020;
  
    transition: 0.3s;
}

li:active{
    transform: scale(1.03);
    transition: 0.2s;
}


.myVideo{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.1;
}

main{
    height: 75vh;
    max-width: 1440px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
    justify-content: space-between;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
   

   

    padding: 0 60px;
    
}

.container img{
    width: 600px;
    
}



.container p{
    color: #a8adb7;
    display: flex;
   
    text-align: justify;

    font-size: 1.4rem;
    margin-bottom: 30px;
}

.container a{
    position: relative;
    right: 19.0rem;
    padding: 20px;
    border: 0.1rem solid #ffffff;

    padding: 1.5rem 3.0rem;
    border-radius: 4.0rem;


    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;

}

.container a:hover{
    background-color: #c02020;
    transition: 0.3s;
}

.container a:active{
    transform: scale(1.03);
}


.img-principal{
    margin-top: 3.0rem;
    text-align: end;
    width: 41%;
   
}
.img-principal > img{
    width: 100%;
    
    
}


